#logo-image {
    width: 20rem;
    height: 5rem;
    object-fit: cover;
    object-position: center 60%;
}
.navbar-dark .navbar-nav .nav-link {
    color: #d6c575;
}
.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
    color: #bb9933;

}
.service-block {
    box-shadow: 0 0 0 #8f8533;
}
.service-block, .price-item, .block {
    outline: 2px solid #8f8533;
    /* box-shadow: 3px 3px 4px white; */
}
.hero-area .block {
    outline: none;
}
.hero-area .block:hover {
    transform: none;
    box-shadow: none;
}
.block:hover, .service-block:hover, .price-item:hover {
    transform: translateY(5px);
    box-shadow: 3px 3px 4px #8f8533;
    transition-duration: 500ms;
}
.about .block:hover {
    border-bottom: none;
}
.about .block:hover .icon-box {
    transform: none;
}
.bg-one, section, .section-bg {
    background-color: #1d2031;
}
input:hover {
  color: #d4c554;
}



h1,
h3,
h4,
h5,
h6 {
  color: #a5adb5;
}

.title h2 {
  color:  #cfc158;
}

/*=================================================================
  Basic Setup
==================================================================*/
::-moz-selection {
    /* Code for Firefox */
    color: #8f8533;
    background: #cfc158;
  }
  
  ::selection {
    color: #fff;
    background: #c2b342;
  }
  
  .title h2, .title h1, .title h3 {
    color: #a5adb5;
  }

  .title h2 span {
    color: #a5adb5;
}   
  
.btn-transparent:hover,
.btn-transparent:focus {
  background-color: #8f8533;
  color: #eff1f3;
}
.border-meghna:before {
    background-color: #a2ad94;
    background-color: #8f8533;
  }
  
  a:focus
  a:hover {
  color: #8f8533;
  }

.btn-main {
    background: #8f8533;
    color: #fff;
    display: inline-block;
    font-size: 14px;
    letter-spacing: 1px;
    padding: 10px 35px;
    text-transform: uppercase;
  }

  a.btn btn-main :focus{
    color: #fff;
  }

  a.btn btn-main :hover{
    color: #fff;
  }

  .btn, :focus {
    color: #a2ad94;
  }


  .title h2 span {
    color: #8f8533;
  }
  
  .header-bradcrumb a:hover {
    color: #8f8533;
  }
  
.navbar-dark .navbar-nav .active>.nav-link,
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link.show,
.navbar-dark .navbar-nav .show>.nav-link {
  color: #8f8533;
}

.hero-area .block .video-button {
    background: #fff;
    color: #8f8533;
    display: inline-block;
    height: 60px;
    width: 60px;
    border-radius: 50px;
  }
  .about .block:hover {
    border-bottom: 2px solid #8f8533;
  }
  .about-2 .content-block .media i {
    font-size: 30px;
    color: #d8c63f;
  }
  #contact-submit {
    border: 1px solid rgba(236, 239, 241, 0.07);
    background: #8f8533;
    padding: 12px 0;
    width: 100%;
    margin: 0;
  }
  #contact-submit:hover {
    border-color: #171838;
    background-color: #bebd67;
  }

  /*=================================================================
  Pricing section setup
==================================================================*/

  .price-title {
    background-color: #161d27;
    padding: 30px 0 20px;
  }

  .price-title h3 {
    color: #a5adb5;
    margin: 0 0 10px;
    text-transform: uppercase;
  }
  .price-title .value {
    color: #8f8533;
    font-size: 30px;
  }

  .price-item {
    border: 1px solid #161d27;
    padding-bottom: 30px;
    margin-bottom: 15px;
  }
  .pricing li:last-child {
    border-bottom: 1px solid #161d27;
    margin-bottom: 20px;
  }
  
  .pricing li:nth-child(2n) {
    background-color: #161d27;
  }

  .btn btn-transparent, :hover {
    border: #c2b342;
  }
  
  /*=================================================================
  Portfolio Setup
==================================================================*/

  .portfolio-filter .btn.active {
    border-color: #d4c554;
  }
  .portfolio-block .caption .search-icon {
    background: #232350;
    color: #8f8533;
  }

  .portfolio.portfolio-block
  .element.style {
  position: sticky;
  } 

  .portfolio.portfolio-section
  .element.style {
  position: static;
  }
  .row {
    flex-wrap: wrap;
  }

  .portfolio-block .caption {
    color: #222236;
  }  

  .portfolio-block .caption h4 a {
    color: #222236;
  }  


  .blog-icon {
    border: 1px solid #8f8533;
    color: #1f0d50;
  }

  .post-excerpt .more a:hover {
    background-color: #8f8533;
    color: #fff;
  }
  .tab-post-nav li.active a {
    border-top: 3px solid #8f8533;
    background-color: #2F383D;
    color: #8f8533;
  }
  .tab-excerpt h4 a:hover {
    color: #8f8533;
  }
  .categories>li:hover a {
    color: #8f8533;
  }
  .widget-content .tag:hover {
    background-color: #8f8533;
    color: rgb(229, 231, 91);
  }

  .post-pagination ul li a:hover,
.post-pagination ul li.active a {
  background-color: #8f8533;
  color: #fff;
  }

.justify-content-center {
  -ms-flex-pack: center!important;
  justify-content: flex-end !important;
  }


/*=================================================================
	Single Blog Page
==================================================================*/
.single-blog {
    background-color: rgb(168, 161, 59);
    margin-bottom: 50px;
    padding: 20px;
  }

  .post-meta a {
    color: #8f8533;
  }
  
  .next-prev a:hover {
    color: #8f8533;
  }
  
  .comment-wrap .media .media-heading a {
    color: #d4c655;
    font-size: 13px;
  }
  
  .comment-reply-form input:focus,
  .comment-reply-form textarea:focus {
  box-shadow: none;
  border: 1px solid #8f8533;
}

   
  #scrollUp:hover {
  background-color: #8f8533;
  border: 1px solid #8f8533;
}


  blockquote {
    border-left: 5px solid #8f8533;
    font-style: italic;
    line-height: 22px;
    padding: 20px 20px 10px 20px;
    margin: 20px 0;
  }
  .next-prev a:hover {
    color: #8f8533;
  }
  
  .border-meghna {
    border-top: 2px solid #171a25;
    height: 1px;
    margin: 15px auto 0;
    position: relative;
    width: 30%;
  }

  .single-page-header:before {
    background: rgba(255, 255, 255,  .1);
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
  }

  .about .block .icon-box:after {
    bottom: -56.5685px;
    border-bottom: 2px solid rgba(119, 107, 107, 0.1);
    border-left: 2px solid rgba(56, 49, 49, 0.1);
  }
  .call-to-action h2 {
    font-weight: 700;
    color: rgb(45, 35, 83);
  }
  
  .call-to-action p {
    font-size: 16px;
    color: rgb(39, 37, 56);
  }
  html {
    background-color: #1d2031;
    color: #1d2031;
  }
  body {
    background-color: #1d2031;
    font-family: "Anaheim", sans-serif;
    color: #a2ad94;
    -webkit-font-smoothing: antialiased;
  }
  .about-2 .content-block .media h4{
    color: #a2ad94;
}
  
  /*=================================================================
  View all posts button setup
==================================================================*/
  a.btn.btn-main:hover {
    background-color: #bebd67;
    color: #fff;
    display: inline-block;
  }

  a.btn.btn-main {
    background-color:#8f8533;
    border-color: #8f8533; 
    color:#fff;
  }
 
  /*=================================================================
  About us setup
==================================================================*/
.post-time {
    color: #b6c3ca;
  }

  .about .block {
    background: #1d2031;
    padding: 30px;
    border-bottom: 2px solid transparent;
    transition: .5s all;
    margin-bottom: 20px;
  }


  /*=================================================================
  Skill bar setup
==================================================================*/
.skill-bar p {
    font-size: 18px;
    margin-bottom: 0;
  }
  
  .skill-bar p span {
    font-style: italic;
    font-size: 30px;
    color: rgba(33, 44, 109, 0.34);
    display: inline-block;
    vertical-align: middle;
  }
  
  .skill-bar .progress {
    height: 6px;
    border-radius: 0;
  }  

.skill-bar .progress .progress-bar {
    background: #111625;
  }

a, .title h2, .title h1, .title h3{
  text-transform: none;
}
#feature .row {
  background-color: #161d27;
}
#skill {
  background-color: #161d27;
}


.skill-bar p span {
  color:  #8f8533;
}

.skill-bar .progress .progress-bar {
  background: #8f8533;
}

.progress-bar {
  color: #8f8533;
}


::selection {
  color: #8f8533;
}

.hero-area .block h1 {
  font-size: 90px;
  text-transform: none;
  font-family: 'apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue' 
}

.progress {
  background-color: #b6c3ca;
} 

.skill-bar .progress .progress-bar {
  background: #b2b4c7;
} 


  /*=================================================================
  Banner setup
==================================================================*/
.hero-area .block h1 {
  font-size: 70px;
  color: #d0c270;
} 


.hero-area .block .btn-transparent {
  border-color: #d4c554;
  color: #acaaa3;
}

.hero-area .block .btn-transparent:hover{
  border-color: #d4c554;
  color: #fff;
}

.hero-area .block p {
  color: #acaaa3;
}

.title h2, .title h1, .title h3 {
  color: #acaaa3;
}

  /*=================================================================
  About title setup
==================================================================*/
a, .title h2, .title h1, .title h3 {
  color: #a5adb5;
}


  /*=================================================================
  Our services setup
==================================================================*/
.title {
  color: #a5adb5;
}
.btn btn-transparent, :hover {
  border: #c2b342;
}
  /*=================================================================
  Navigation services setup
==================================================================*/

.navigation {
  background-color: #161d27;
} 

#select-language {
  background: #353b43;
  color: #d4c554;
  border: 0;
}

  /*=================================================================
  Contact form setup
==================================================================*/


.copyright p {
  color: #939da7;
}

a, .title h2, .title h1, .title h3 {
  color: #a5adb5;
}


.button, input {
  color: #a2ad94;
  background-color: #1d2031;
  border-color:#a2ad94;
  max-width: none;
}

.button, input .block:hover, :focus{
  border-color: #a2ad94;
}

.form-group form .form-control.reply-to input{
  border-color: #a2ad94;
  color: #a5adb5;
}

reply-to input :hover{
  border-color: #a2ad94;
  color: #a5adb5;
}

.form-group form .form-control text:focus{
  border-color: #a2ad94;
  color: #a5adb5;
}

textarea#message .form-control :hover{
  border-color: #a2ad94;
  color: #a5adb5;
}

  .form-meghna .form-control {
    color: #a2ad94;
  }
  
  .form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #2F383D
  }
  .form-control ::after, ::before {
    box-sizing: border-box;
    color: #939da7;
    border-color: #939da7;
  } 
    #contact-submit {
      border: 1px solid rgba(236,239,241,.07);
      background: #8f8533;
      padding: 12px 0;
      width: 100%;
      margin: 0;
      color: #fff;
  }
  
  .content.btn-transparent:hover {
      background-color:transparent;
      border: 1px solid transparent;
      color: #a5adb5;
    }

    .content.btn-transparent:focus {
      background-color: #8f8533;
      border: 1px solid transparent;
      color: #acaaa3;
    }

    .form-meghna input:hover, .form-meghna textarea:hover {
      border-color: #a2ad94;
    }  

    .con-info clearfix- a:-webkit-any-link {
      color: #a5adb5;
    }
 
    a:hover{
      color: #8f8533;
    }
    .navbar-brand p-0 a:-webkit-any-link{
    color: #a2ad94;
  }

  .client-comment p {
    color: #a5adb5;
     }