#logo-image {
    width: 20rem;
    height: 5rem;
    object-fit: cover;
    object-position: center 40%;
}
.navbar-dark .navbar-nav .nav-link {
    color: #d6c575;
}
.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
    color: #bb9933;

}
.service-block {
    box-shadow: 0 0 0 #8f8533;
}
.service-block, .price-item, .block {
    outline: 2px solid #8f8533;
    /* box-shadow: 3px 3px 4px white; */
}
.hero-area .block {
    outline: none;
}
.hero-area .block:hover {
    transform: none;
    box-shadow: none;
}
.block:hover, .service-block:hover, .price-item:hover {
    transform: translateY(5px);
    box-shadow: 3px 3px 4px #8f8533;
    transition-duration: 500ms;
}
.about .block:hover {
    border-bottom: none;
}
.about .block:hover .icon-box {
    transform: none;
}
.bg-one, section, .section-bg {
    background-color: #1d2031;
}




h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  font-family: "Quattrocento Sans", sans-serif;
  color: #939da7;
}
/*=================================================================
  Basic Setup
==================================================================*/
::-moz-selection {
    /* Code for Firefox */
    color: #fff;
    background: #cfc158;
  }
  
  ::selection {
    color: #fff;
    background: #c2b342;
  }


  
  .btn-transparent:hover,
.btn-transparent:focus {
  background-color: #8f8533;
  border: 1px solid transparent;
  color: #fff;
}
.border-meghna:before {
    background-color: #fff;
    content: '';
    height: 6px;
    left: 50%;
    margin-left: -20px;
    position: absolute;
    top: -4px;
    width: 50px;
    background-color: #8f8533;
  }
  a:focus,
a:hover {
  color: #8f8533;
}

.btn-main {
    background: #8f8533;
    color: #fff;
    display: inline-block;
    font-size: 14px;
    letter-spacing: 1px;
    padding: 10px 35px;
    text-transform: uppercase;
  }
  .title h2 span {
    color: #8f8533;
  }
  
  .header-bradcrumb a:hover {
    color: #8f8533;
  }
  
.navbar-dark .navbar-nav .active>.nav-link,
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link.show,
.navbar-dark .navbar-nav .show>.nav-link {
  color: #8f8533;
}

.hero-area .block .video-button {
    background: #fff;
    color: #8f8533;
    display: inline-block;
    height: 60px;
    width: 60px;
    border-radius: 50px;
  }
  .about .block:hover {
    border-bottom: 2px solid #8f8533;
  }
  .about-2 .content-block .media i {
    font-size: 30px;
    color: #d8c63f;
  }
  #contact-submit {
    border: 1px solid rgba(236, 239, 241, 0.07);
    background: #8f8533;
    padding: 12px 0;
    width: 100%;
    margin: 0;
  }
  #contact-submit:hover {
    border-color: #171838;
    background-color: #e2e044;
  }

  /*=================================================================
  Pricing section setup
==================================================================*/

.price-title {
    background-color: #161d27;
    padding: 30px 0 20px;
  }

  .price-title h3 {
    color: #e4e2d8;
    margin: 0 0 10px;
    text-transform: uppercase;
  }
  .price-title .value {
    color: #8f8533;
    font-size: 30px;
  }

  .price-item {
    border: 1px solid #161d27;
    padding-bottom: 30px;
    margin-bottom: 15px;
  }
  .pricing li:last-child {
    border-bottom: 1px solid #161d27;
    margin-bottom: 20px;
  }
  
  .pricing li:nth-child(2n) {
    background-color: #161d27;
  }

  .btn-transparent {
    border: 1px solid #d8c63f;
  }
  
  /*=================================================================
  Portfolio Setup
==================================================================*/

  .portfolio-filter .btn.active {
    border-color: #d4c554;
  }
  .portfolio-block .caption .search-icon {
    background: #232350;
    width: 50px;
    height: 50px;
    color: #8f8533;
    display: inline-block;
    font-size: 20px;
    border-radius: 30px;
  }
  .portfolio-block .caption {
    color: #222236;
  }  

.blog-icon {
    border: 1px solid #8f8533;
    border-radius: 50%;
    color: #1f0d50;
    display: inline-block;
    padding: 16px 20px;
  }
  .post-excerpt .more a:hover {
    background-color: #8f8533;
    color: #fff;
  }
  .tab-post-nav li.active a {
    border-top: 3px solid #8f8533;
    background-color: #2F383D;
    color: #8f8533;
  }
  .tab-excerpt h4 a:hover {
    color: #8f8533;
  }
  .categories>li:hover a {
    padding-left: 10px;
    color: #8f8533;
  }
  .widget-content .tag:hover {
    background-color: #8f8533;
    color: rgb(229, 231, 91);
  }
  .post-pagination ul li a:hover,
.post-pagination ul li.active a {
  background-color: #8f8533;
  color: #fff;
}


/*=================================================================
	Single Blog Page
==================================================================*/
.single-blog {
    background-color: rgb(168, 161, 59);
    margin-bottom: 50px;
    padding: 20px;
  }

  .post-meta a {
    color: #8f8533;
  }
  
  .next-prev a:hover {
    color: #8f8533;
  }
  
  .comment-wrap .media .media-heading a {
    color: #d4c655;
    font-size: 13px;
  }
  
  .comment-reply-form input:focus,
  .comment-reply-form textarea:focus {
  box-shadow: none;
  border: 1px solid #8f8533;
}

   
  #scrollUp:hover {
  background-color: #8f8533;
  border: 1px solid #8f8533;
}


  blockquote {
    border-left: 5px solid #8f8533;
    font-style: italic;
    line-height: 22px;
    padding: 20px 20px 10px 20px;
    margin: 20px 0;
  }
  .next-prev a:hover {
    color: #8f8533;
  }
  
  .border-meghna {
    border-top: 2px solid #171a25;
    height: 1px;
    margin: 15px auto 0;
    position: relative;
    width: 30%;
  }

  .single-page-header:before {
    background: rgba(255, 255, 255,  .1);
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
  }

  .about .block .icon-box:after {
    bottom: -56.5685px;
    border-bottom: 2px solid rgba(119, 107, 107, 0.1);
    border-left: 2px solid rgba(56, 49, 49, 0.1);
  }
  .call-to-action h2 {
    font-weight: 700;
    color: rgb(45, 35, 83);
  }
  
  .call-to-action p {
    font-size: 16px;
    color: rgb(39, 37, 56);
  }
  html {
    background-color: #1d2031;
    color: #1d2031;
  }
  body {
    background-color: #1d2031;
    font-family: "Anaheim", sans-serif;
    color: #a2ad94;
    -webkit-font-smoothing: antialiased;
  }
  
  /*=================================================================
  About us setup
==================================================================*/
.post-time {
    color: #b6c3ca;
  }

  .about .block {
    background: #1d2031;
    padding: 30px;
    border-bottom: 2px solid transparent;
    transition: .5s all;
    margin-bottom: 20px;
  }


  /*=================================================================
  Skill bar setup
==================================================================*/
.skill-bar p {
    font-size: 18px;
    margin-bottom: 0;
  }
  
  .skill-bar p span {
    font-style: italic;
    font-size: 30px;
    color: rgba(33, 44, 109, 0.34);
    display: inline-block;
    vertical-align: middle;
  }
  
  .skill-bar .progress {
    height: 6px;
    border-radius: 0;
  }  

.skill-bar .progress .progress-bar {
    background: #111625;
  }

a, .title h2, .title h1, .title h3{
  text-transform: none;
}
#feature .row {
  background-color: #161d27;
}
#skill {
  background-color: #161d27;
}


.skill-bar p span {
  color:  #8f8533
}

.skill-bar .progress .progress-bar {
  background: #8f8533;
}

.progress-bar {
  color: #8f8533;
}


::selection {
  color: #8f8533;
}

.hero-area .block h1 {
  font-size: 90px;
  text-transform: none;
  font-family: 'apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue' 
}

.progress {
  background-color: #b6c3ca;
} 

.skill-bar .progress .progress-bar {
  background: #b2b4c7;
} 


  /*=================================================================
  Banner bar setup
==================================================================*/
.hero-area .block h1 {
  font-size: 70px;
  color: #d0c270;
} 

.hero-area .block {
  color: #afbac4;
}

.d-none {
  color:#d0c270;
}

.hero-area .block .btn-transparent {
  border-color: #d4c554;
  color: #eff1f3;
}

.hero-area .block p {
  color: #acaaa3;
}

.title h2, .title h1, .title h3 {
  color: #acaaa3;
}

  /*=================================================================
  About title setup
==================================================================*/
a, .title h2, .title h1, .title h3 {
  color: #afbac4;
}


  /*=================================================================
  Our services setup
==================================================================*/
.title {
  color: #afbac4;
}

  /*=================================================================
  Navigation services setup
==================================================================*/

.navigation {
  background-color: #161d27;
} 

  /*=================================================================
  Contact form setup
==================================================================*/


.portfolio.portfolio-block
element.style {
  position: sticky;
} 