{{ define "main" }}

{{ partial "banner.html" . }}

{{ partial "navigation.html" . }}

{{ partial "about.html" . }}

{{ partial "feature.html" . }}

{{ partial "cta.html" . }}

{{ partial "service.html" . }}

{{ partial "virtual services.html" . }}

{{ partial "portfolio.html" . }}

{{ partial "funfacts.html" . }}

{{ partial "team.html" . }}

{{ partial "pricing.html" . }}

{{ partial "testimonial.html" . }}

{{ partial "guidance.html" . }}

{{ partial "contact.html" . }}

{{ partial "map.html" . }}

{{ end }}



{{ define "main" }}

{{ partial "banner.html" . }}

{{ partial "navigation.html" . }}

{{ partial "rolunk.html" . }}

{{ partial "feature.html" . }}

{{ partial "cta.html" . }}

{{ partial "szolgaltatasok.html" . }}

{{ partial "virtualis gyorstervezes.html" . }}

{{ partial "portfolio.html" . }}

{{ partial "funfacts.html" . }}

{{ partial "csapat.html" . }}

{{ partial "arak.html" . }}

{{ partial "velemenyek.html" . }}

{{ partial "utmutato.html" . }}

{{ partial "kontakt.html" . }}

{{ partial "map.html" . }}

{{ end }}